<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h1>Wgraj plik</h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label>Tytuł pliku</label>
            <input type="text" name="title">
            <br>
            <label>Plik</label>
            <input type="file" name="upload" multiple="multiple"><br>
            <input type="submit" value="Wyślij">
        </form>
    </body>
</html>